* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
body{
	background-color: #EBF0F6;
	min-height: 70vh;
    min-width: 70vw;
    display: block;
    align-items: center;
    justify-content: center;
}
.icon{
  position: absolute;
  top: 8px;
  left: 16px;
  margin: 0;
}

div.scrollmenu {
  background-color: #98CCD3;
  overflow: auto;
  white-space: nowrap;
  margin-top:38px;
  border-radius:15px;
  outline: none;
}

div.scrollmenu: hover{
  background-color: #fff;
  
}


div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-radius: 15px;
}

div.scrollmenu a:hover {
  background-color: #364E68;
  display: inline-block;

}
.ano:  {
  background-color: #364E68;
}



.container{
  background-color:white;
  border:0;
  border-radius:15px;
  display: block;
  margin-left:50px;
  margin-right: 15px;
  margin-top:15px;
  width: 75%;
  align-itens:center;
  justify-content: center;
  padding:10px;
}

.fab{
  position: fixed;
  bottom:15px;
  right:15px;
}

.fab button{
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background-color: #98CCD3;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
    
}

.fab button.main{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #98CCD3;
  right: 0;
  bottom: 0;
  z-index: 20;
}



.fab button a{
	text-decoration: none;
	color: white;
}

h5{
  margin-left: 10px;
  color: grey;
  opacity:59%;
  margin-top:10px;
}
h3{
  margin-left: 10px;
  color:#364E68;
  margin-botton: 10px;
}
.container2{
  background-color:white;
  border:0;
  border-radius:15px;
  display: block;
  margin-left:50px;
  margin-right: 15px;
  margin-top:15px;
  width: 75%;
  height:180px;
  align-itens:center;
  justify-content: center;
  padding:10px;
}
#obs{
  position: absolute;
  top:65%;
  left:35%;
  widht:100%;
  color: grey;
  opacity:59%;
}