*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #DFE3E8;
	font-family:'Nunito', sans-serif;
}

.meuspets {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.logo {
	margin-right:20px;
	font-weight: normal;
}

h1 {
	font-size: 36px;
	margin-top: 20px;
	font-weight: normal;
	color:#425971 ;
}

.search-box {
	display: flex;
	justify-content: flex-start;
	align-items: left;
	margin:35px; 
	padding: 15px;
	background: white;
	border-radius:40px;
	box-shadow: 3px 3px 30px rgba(26,35,44,0.1);  
}

.search-txt {
	border:none;
	background: none;
	outline: none;
	font-size:18px;
	margin-left: 8px;
}

.perfil {
	display: flex;
	justify-content: space-between;
	margin: 35px;
	background: #425971;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 6px 6px 4px rgba(26,35,44,0.2);
}
.perfil img{
	border-radius: 5px;
}
a{
	text-decoration: none;
	color: #DFE3E8;
}
.dados {
	display: flex;
	flex-direction: column;
	margin-right: 20px;

}

h2 {
	font-size: 32px;
	color: white;	
	margin-bottom: 10px;
	margin-top: 20px;
}

h3 {
	font-size: 15px;
	color: #DFE3E8;
	font-weight: normal;
	margin-bottom: 5px;
}

h4 {
	font-size: 15px;
	color: #DFE3E8;
	font-weight: normal;
}



.icon {
	background: #98CCD3;
	border-radius: 40px;
	padding: 40px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.fab{
  position: fixed;
  bottom:15px;
  right:15px;
}

.fab button{
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background-color: #98CCD3;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: white;
    
}

.fab button.main{
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #98CCD3;
  right: 0;
  bottom: 0;
  z-index: 20;
}



.fab button a{
	text-decoration: none;
	color: white;
}