*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DFE3E8;
  font-family:'Nunito', sans-serif;
  color: #425971;
}

.passos{
     display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom:30px;
}

.passos h1{
  margin-top: 50px;
  margin-bottom:25px ;
  font-size:39px;
  font-weight:normal;
}

.passos h2 {
  margin-top: 15px;
  font-weight: normal;
  font-size: 23px;
  padding: 20px;
}


.passos h3 {
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
}

.passos h4 {
  font-size: 19px;
  font-weight: normal;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 15px;
  margin-bottom: 60px;
}

.coleirabat {
  float: left;
  margin-right: 10px;
  margin-left: 40px ;
  padding-top: 20px;

}

 h5 {
  padding-top: 20px;
  line-height: 20px;
  font-size: 15px;
  font-weight: normal;
  padding-right: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top:670px;
  width: 280px;
  height:55px;
  color: #ffffff;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: #425971;
  margin-bottom: 15px;
  border: none;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: background 0.6s;
  font-family: 'Nunito', sans-serif;
  font-weight: regular;
}
.btn a{
  text-decoration: none;
  color: white;
}
.botão{
  display: inline-block;
}

label {
    font: 19px 'Nunito', sans-serif;
}

input {
    margin: .4rem;
}

.voltar{
  margin: 10px;
}