*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #DFE3E8;
	font-family:'Nunito', sans-serif;
}

.instrucoes .logo {
  position: absolute;
  top: 20px;
  right: 25px;
}


.balao {
	background:white;
	width: 320px;
	text-align: center;
    line-height: 23px;  
    border-radius: 48%;
    height: 245px;
    position: relative;
    left: 0px;
	right: 10px;
	margin: auto; 
	margin-top: 35px;
	box-shadow: 2px 2px 20px rgba(5,35,4,0.2);
}

.balao p {
	font-size: 23px;
	position: relative;
	top: 45px;
	line-height: 30px;
	color: #425971;
	font-family: 'Nunito', sans-serif;
}

.balao::before{
	content: "";
    position: absolute;
  	border-left: 20px solid white;
    border-right: 40px solid white;
    border-top: 40px solid white;
    border-bottom: 20px solid white;
    left: 128px;
    top: 205px;
    -webkit-transform: translate(10px) rotate(300deg)
}
	  

.btn {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top:650px;
	width: 280px;
	height:55px;
	color: #ffffff;
	border-radius: 15px;
	font-size: 1.5rem;
	background-color: #425971;
	margin-bottom: 15px;
	border: none;
	text-align: center;
	user-select: none;
	cursor: pointer;
	transition: background 0.6s;
	font-family: 'Nunito', sans-serif;
	font-weight: regular;
	
}
.btn a{
  text-decoration: none;
  color: white;
}
.mascote {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top:360px;
}
.icon{
  position: absolute;
  top: 8px;
  left: 16px;
  margin: 0;
}
.pular {
	cursor: pointer;
	font-size: 1.3rem;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: regular;
	color: #425971;
	position: absolute;
    top: 93%;
    width: 100%;
}


.voltar {
	margin: 10px;
}