*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DFE3E8;
  font-family:'Nunito', sans-serif;
}


.instrucoes .logo {
  position: absolute;
  top: 20px;
  right: 25px;
}


.balao {
  background:white;
  width: 310px;
  text-align: center;
  line-height: 23px;  
  border-radius: 48%;
  height: 260px;
  position: relative;
  left: -15px;
  right: 0;
  margin: auto;
  top:100px; 
  box-shadow: 2px 2px 20px rgba(5,35,4,0.1);   
}
.balao p {
  
  position: relative;
  margin: auto;
  justify-content: center;
  color: #425971;
  font-family: Nunito, sans-serif;
  justify-content: center;
  top: 60px;
  font-size: 22px;
  margin-bottom: 5px;
}

.balao::before{
  content: "";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 40px solid transparent ;
    border-top: 40px solid white;
    border-bottom: 20px transparent;
    left: 160px;
    top: 250px;
    -webkit-transform: translate(10px) rotate(344deg)
}

.btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top:620px;
  width: 280px;
  height:55px;
  color: #ffffff;
  border-radius: 15px;
  font-size: 1.5rem;
  background-color: #425971;
  margin-bottom: 15px;
  border: none;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: background 0.6s;
  font-family: 'Nunito', sans-serif;
  font-weight: regular;
 }
.btn a{
  text-decoration: none;
  color: white;
}
.mascote {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top:470px;
}
.icon{
  position: absolute; 
}

.volta{
  margin: 10px;
}
